@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

:root {
  --primary: #172936;
  --secondary: #172936;
  --tertiary: #2e6069;
  --quaternary: #4db1a5;
  --quinary: #366383;
}

* {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}
html {
  overflow: hidden;
}
h2 {
  text-align: center;
}
div::-webkit-scrollbar {
  width: 5px;
  display: none;
}

img {
  cursor: pointer;
}
p {
  padding: 1rem;
  color: white;
  font-weight: bold;
  /* width: 45%; */
  overflow: hidden;
}
